@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import "react-calendar/dist/Calendar.css";



@import url('https://fonts.googleapis.com/css2?family=Cal+Sans:wght@300;400;500;700&display=swap');

/* 3. Extender la capa "base" para asignar la fuente por defecto al <body> */
@layer utilities {
  .font-calsans {
    font-family: 'Cal Sans', sans-serif;
  }
}

@layer base {
  html {
    font-family: 'Outfit', sans-serif;
  }
}


/* .react-calendar__tile.has-event {
  background: #c7d2fe;  
}
.react-calendar__tile--active {
  background: #818cf8; 
  color: white;
} */